@import url('data:application/octet-stream;base64,QGZvbnQtZmFjZSB7CiAgZm9udC1mYW1pbHk6ICdLYXVzaGFuIFNjcmlwdCc7CiAgZm9udC1zdHlsZTogbm9ybWFsOwogIGZvbnQtd2VpZ2h0OiA0MDA7CiAgZm9udC1kaXNwbGF5OiBzd2FwOwogIHNyYzogdXJsKGh0dHBzOi8vZm9udHMuZ3N0YXRpYy5jb20vcy9rYXVzaGFuc2NyaXB0L3Y5L3ZtOHZkUmZ2WEZMRzNPTG5zTzE1V1lTNURGN18udHRmKSBmb3JtYXQoJ3RydWV0eXBlJyk7Cn0K');

/*
===============
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(21, 91%, 17%);
    --clr-primary-2: hsl(21, 84%, 25%);
    --clr-primary-3: hsl(21, 81%, 29%);
    --clr-primary-4: hsl(21, 77%, 34%);
    /* primary/main color */
    --clr-primary-5: hsl(21, 62%, 45%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(21, 57%, 50%);
    --clr-primary-7: hsl(21, 65%, 59%);
    --clr-primary-8: hsl(21, 80%, 74%);
    --clr-primary-9: hsl(21, 94%, 87%);
    --clr-primary-10: hsl(21, 100%, 94%);
    /* darkest grey - used for headings */
    --clr-grey-1: #102a42;
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}


/*
===============
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    body {
        font-size: 1rem;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
    .btn {
        background: var(--clr-grey-7);
        color: var(--clr-white);
        border-radius: var(--raduis);
        transition: var(--clr-transition);
        border-color: transparent;
        cursor: pointer;
    }
    .btn:hover {
        background-color: var(--clr-grey-1);
        color: var(--clr-white);
    }
}


/*
=============================
Navbav
=============================
*/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    /* border: 2px solid var(--clr-grey-1); */
    /* width: 99vw; */
    /* margin-left: 1.25rem; */
    /* margin-right: 1.25rem; */
    /* border-bottom-color: var(--clr-grey-1); */

}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    max-width: var(--max-width);
    /* border: 2px solid blue; */
    /* box-shadow: var(--dark-shadow); */

}

.nav-links {
    display: none;
}

.toggle-nav {
  width: 3.75rem;
  height: 2.25rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  background: var(--clr-grey-1);
  color: var(--clr-grey-7);
}
.toggle-nav:hover{
  background-color: var(--clr-grey-7);
  color: var(--clr-white);
}
.nav-logo{
  color: var(--clr-grey-1);
  /* font-family: 'Kaushan Script', cursive; */
  position: relative;
  letter-spacing: 3px;
  font-size: 1.15rem;
  align-items: center;
  justify-content: space-between;

}
.nav-logo:hover{
  color: var(--clr-grey-7);
}

.active {
  background-color: var(--clr-red-light);
}

@media screen and (min-width: 800px) {
    .nav-links {
        display: flex;
        font-size: 1.25rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        width: 40vw;
        color: var(--clr-grey-1);
        position: relative;

    }

    .nav-link {
      color: var(--clr-grey-1);
      letter-spacing: 3px;
      font-size: 1.15rem;
      align-items: center;
      justify-content: space-between;
    }
    .nav-link:hover {
        color: var(--clr-grey-7);
        /* border: 1px solid;
        background: var(--clr-grey-1);
        border-color: var(--clr-red-light); */

        /*  */
    }
    .toggle-nav {
      display: none;
    }
}

/*
==========================
         banner
==========================
*/



/*
=============================
Sidebar
=============================
*/

.sidebar-overlay {
  position: fixed;
  display: grid;
  z-index: 6;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}
.sidebar-overlay .show {
  opacity: 1;
  z-index: 100;
}
.sidebar {
  width: 100vw;
  height: 30vh;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  position: relative;
  transform: scale(0);
}
.show .sidebar {
  transform: scale(1);
}
.sidebar-close {
  font-size: 1.5rem;
  background: transparent;
  cursor: pointer;
  color: var(--clr-grey-1);
  position: absolute;
  border-color: transparent;
  /* top: 1rem; */
  right: 1rem;
  transition: var(--transition);

}
.sidebar-close:hover {
  transform: rotate(360deg);
}
.sidebar-link {
  width: 100%;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: var(--clr-grey-1);
  border-bottom: 0.5px solid var(--clr-grey-5);

}
/* .sidebar-link li {
  width:100%;
  border-bottom: 10x solid var(--clr-grey-5);
} */
.sidebar-link:hover {
  color: var(--clr-grey-7);
  /* border: 1px solid;
  background: var(--clr-grey-1);
  border-color: var(--clr-red-light); */
}
.sidebar-link i {
    color: var(--clr-grey-1);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 800px) {
    .sidebar-overlay {
        display: none;
    }
}
/*
=============
image top
=======
 */

 .image-top {
   background-image: url('./images/hero.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-color: #121212;
   margin: 0px auto 0;
   height: 115px;
   z-index: -6;
 }
 @media screen and (min-width: 800px) {
     .image-top {
       background-image: url('./images/hero.jpg');
       background-repeat: no-repeat;
       background-position: center;
       background-color: #121212;
       margin: 0px auto 0;
       height: 115px;
     }
 }

 /*
 =============
 page content
 =======
  */
  .content {
    padding: 2rem 0;
  }
  .name {
    margin-bottom: 2rem;
  }
  span {
    width: 5rem;
    height: 0.25rem;
    background: var(--clr-gold);
    margin-left: auto;
    margin-right: auto;
  }

 .section-center {
   width: 90vw;
   margin : 0 auto;
   max-width: 1170px;
   /* display: grid;
   gap : 3rem 2rem; */
   /* justify-items: center; */
 }
 .page-content {
   display: grid;
   gap : 1rem 2rem;
   max-width: 70rem;
   margin-left: 60px;
   margin-right: 60px;
 }
 .page-info header{
   display: flex;
   justify-content: space-between;
   border-bottom: 2px dotted var(--clr-grey-5);
   margin-bottom: 30px;
 }
 .page-info h4 {
   margin-bottom: 0.5rem;
 }

 /* footer */
 .footer {
   text-align: center;
 }
